@import '../../node_modules/sass-mq/mq';
@import './variables';
@import './colors';

$box-border-radius: 12px;

@each $key, $value in $background-colors {
  .#{$key}-box {
    color: map-get($foreground-colors, $key);
    background-color: map-get($background-colors, $key);
    border-color: map-get($border-colors, $key)
  }
}

.box {
  @extend .box-box;
  padding: $box-padding $box-padding 0 $box-padding;

  @include mq($from: 640px) {
    width: 640px;
  }

  @include mq($from: 470px) {
    min-width: 470px;
    border-top-left-radius: $box-border-radius;
    border-top-right-radius: $box-border-radius;
  }

  @include mq($until: 470px) {
    width: 100%;
  }

  >h1 {
    font-size: em(32);
    margin: 0;
  }

  .footer {
    position: relative;
    top: $box-border-radius;
    @extend .box-footer-box;

    @include mq($from: 470px) {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }

    margin: 0 -#{$box-padding} 0 -#{$box-padding};
    text-align: center;
    padding: 10px;
  }
}

section {
  margin: 0;
}

.photo-background {
  background-position: 50% 50%;
  background-size: cover;
  width: 100vw;
  height: 100vh;

  > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;

    width: 100%;
  }

  > h1 {
    display: block;
    color: #fff;

    padding: 40px;

    @include mq($until: 470px) {
      padding: 30px;
    }
  }
}