@import './mq';
@import './variables';
@import './colors';

@each $key, $value in $background-colors {
  .#{$key}-box {
    color: map-get($foreground-colors, $key);
    background-color: map-get($background-colors, $key);
    border-color: map-get($border-colors, $key)
  }
}

@mixin box($breakpoints) {
  @extend .box-box;
  padding: $box-padding-height $box-padding-width 0 $box-padding-width;
  overflow: hidden;

  @each $breakpoint in $breakpoints {
    @include mq($from: $breakpoint) {
      width: $breakpoint;
      border-top-left-radius: $box-border-radius;
      border-top-right-radius: $box-border-radius;
      border-bottom-left-radius: $box-border-radius;
      border-bottom-right-radius: $box-border-radius;
    }
  }

  @include mq($until: nth($breakpoints, 1)) {
    width: 100%;
  }

  >h1 {
    font-size: em(32);
    font-weight: bold;
    margin: 0 0 em(20, 32) 0;
  }

  > .content {
    margin: 0 0 em(20) 0;
  }

  .footer {
    position: relative;
    @extend .box-footer-box;

    margin-top: #{rem($box-footer-margin - $box-border-radius)};
    margin-left: -#{rem($box-padding-width)} ;
    margin-bottom: 0 ;
    margin-right: -#{rem($box-padding-width)};
    text-align: center;
    padding: em(20, 14);
    font-size: em(14);

    >*:last-child {
      margin-bottom: 0;
    }
  }
}
