@import './variables';
@import './boxes';

$button-default-radius: $small-radius;
$button-default-border: 2px solid map-get($colors, secondary);
$button-default-padding: 10px;

@each $key, $value in $background-colors {
  button.#{$key} {
    color: map-get($foreground-colors, $key);
    background-color: map-get($background-colors, $key);
    border-color: map-get($border-colors, $key)
  }
}

button {
  background: transparent;
  border-radius: $button-default-radius;
  border: $button-default-border;
  padding: $button-default-padding;
  font-size: 1em;
  font-family: $default-font;
  font-weight: bold;
  cursor: pointer;

  &:not(:last-child) {
    margin-right: $button-spacing / 2;

    @include mq($from: 470px) {
      margin-right: $button-spacing;
    }
  }

  &:hover {
  }

  &:focus {
    outline: none;
    box-shadow: 0px 0px 5px rgba(0,0,0,.33);
  }

  &:active {
    animation: button-expand .2s both;
    background-image: linear-gradient(rgba(255,255,255,.33),
            rgba(255,255,255,.33));
  }
}

@keyframes button-expand {
  @for $i from 1 through 49 {
    #{$i}% {
      background-image: linear-gradient(90deg,
            rgba(255,255,255,0) 0%,
            rgba(255, 255, 255, .33) (50 - $i + 0%),
            rgba(255, 255, 255, .33) (50 + $i + 0%),
            rgba(255,255,255,0) 100%);
    }
  }
}

button.cancel {
  @extend button.secondary;
  font-weight: normal;
}

button.submit {
  @extend button.primary;
}
