$colors: (
        primary: #f76303,
        secondary: #9b9b9b,
        google: #d10000,
        facebook: #4a4e9e,
        faded: #e5e5e5,
        box-footer: #4a4a4a,
        input: #4a4a4a,
        label: #4a4a4a,
        list-header: #4a1f50,
        list-section: #4a1f50,
        list-divider: #eeeeee,
        link: #1778e9,
);

$status-colors: (
        ok: #00cc5a,
        unknown: #cc8f00,
);

$background-colors: (
        primary: map-get($colors, primary),
        secondary: #fff,
        google: map-get($colors, google),
        facebook: map-get($colors, facebook),
        box: #fff,
        box-footer: #e7f1fc,
        input: #fff,
        list-header: #d5cfd6,
        list-section: #e5e3e5,
        list-divider: #eeeeee,
        pill: #45294e,
        inverted: #9b9b9b,
);

$foreground-colors: (
        primary: #fff,
        secondary: #9b9b9b,
        google: #fff,
        facebook: #fff,
        box: #000,
        box-footer: map-get($colors, box-footer),
        input: #4a4a4a,
        list-header: #000,
        list-section: #727172,
        list-divider: #d9d9d9,
        pill: #fff,
        inverted: #fff,
);

$border-colors: (
        primary: map-get($colors, primary),
        secondary: map-get($colors, secondary),
        google: map-get($colors, google),
        facebook: map-get($colors, facebook),
        box-footer: map-get($background-colors, box-footer),
        input: #ccc,
);

