@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,700';
@import './variables';
@import './colors';

a {
  color: map-get($colors, link);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

strong, .strong {
  font-weight: bold;
}
