@import './variables';

h1, h2, h3, h4, h5 {
  margin: 0;
}

h1 {
  font-size: 1.25em;
}

h2 {
  font-size: 1.125em
}

h3 {

}

h4 {

}

h5 {

}

.header {
  font-size: 1.25em;
  height: 4.375em;
  display: flex;
  align-items: center;
  padding: 0 $list-padding 0 $list-padding;

  .avatar {
    width: em(30);
    height: em(30);
  }
}
