@import './variables';
@import './boxes';
@import './layout';
@import './buttons';
@import './divider';
@import './forms';
@import './lists';
@import './avatars';
@import './status';
@import './pills';

@import './pages/join';

html, body {
  font-size: #{$browser-context}px;
  font-family: $default-font;
  margin: 0;
  padding: 0;
}

html, body, * {
  box-sizing: border-box;
}

p {
  margin: 0;
  font-size: em(14);
  color: map-get($colors, label);
}

p.note {
  font-size: em(12);
}

a {
  color: map-get($colors, link);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

strong, .strong {
  font-weight: bold;
}

.divider {
  @include divider(map-get($colors, faded), 0.625em);
  color: map-get($colors, secondary);
  text-transform: uppercase;
  font-weight: bold;
  margin: 0 0 20px 0;
}


section {
  margin: 0;
}

.photo-background {
  background-position: 50% 50%;
  background-size: cover;
  width: 100vw;
  height: 100vh;

  > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;

    width: 100%;
  }

  > h1 {
    display: block;
    color: #fff;

    padding: em(40);

    @include mq($until: 470px) {
      padding: em(30);
    }
  }
}