@import '../variables';

.federated-buttons {
  display: flex;
  margin: 0 -#{$button-spacing/2};

  button {
    flex-grow: 1;
    flex-basis: 100%;
    margin: 0 $button-spacing/2;
  }
}

.login.box {
  @include box(480px 640px);

  @include mq($until: 640px) {
    .federated-buttons {
      font-size: em(12);
    }
  }

  @include mq($until: 480px) {
    .cancel { display: none; }

    .federated-buttons {
      font-size: em(14);
      flex-direction: column;
      margin: -#{$button-spacing/2};

      button {
        margin: $button-spacing/2 0;
      }
    }
  }
}

.join.box {
  @include box(480px);

  .content.shown {
    max-height: 0;
  }

  .content {
    transition: max-height .25s ease-in;
    max-height: 1000px;
  }

  .federated-buttons {
    flex-direction: column;
    margin-top: em(20);

    button {
      margin-bottom: em(13);
    }
  }
}