<section class="photo-background 25%" style="background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.7)), url('10421562_10152670415741795_1869613912639764709_n.jpg');">
    <h1>sparks.network</h1>

    <div>
        <div class="join box">
            <h1>Join us</h1>

            <div class="content">
                <p>
                    By creating an account with sparks.network you agree to
                    our policies and terms and conditions
                </p>

                <div class="federated-buttons">
                    <button class="google">Continue with Google</button>
                    <button class="facebook">Continue with Facebook</button>
                </div>

                <p class="note">
                    We'll never post anything to your social profile without
                    your permission
                </p>
            </div>

            <div class="divider"><span>Or</span></div>

            <div class="content" style="display: flex; flex-direction: column;">
                <button class="join-email inverted" onclick="
                    this.parentNode.classList.add('hidden');
                    this.parentNode.nextElementSibling.classList.add('shown');
                    this.parentNode.nextElementSibling.classList.remove('hidden');
                    setTimeout(() => this.parentNode.nextElementSibling.classList.remove('shown'), 10);
                 ">
                    Create an account with email
                </button>
            </div>

            <div class="content hidden">
                <form>
                    <fieldset>
                        <label>Full name</label>
                        <input type="text" name="fullName">
                    </fieldset>

                    <fieldset>
                        <label>Email</label>
                        <input type="email" name="email">
                    </fieldset>

                    <fieldset>
                        <label>Phone</label>
                        <input type="number" name="phonenumber">
                        <p>Your email address and phone number will only be
                        shared with organizers that you work with</p>
                    </fieldset>

                    <fieldset>
                        <label>Date of Birth (e.g. 12-25-1987)</label>
                        <input type="date" name="dob">
                    </fieldset>

                    <fieldset>
                        <label>Zip code</label>
                        <input type="text" name="zip">
                    </fieldset>

                    <fieldset class="actions">
                        <button class="submit">Join</button>
                    </fieldset>
                </form>
            </div>

            <div class="footer">
                <p>
                    Hold on, I already have an account!
                    <a href="#" class="strong">Login here</a>
                </p>
            </div>
        </div>
    </div>
</section>
