<section>
    <h2>Lists</h2>

    <div class="list">
        <div class="header">
            Header
        </div>

        <div class="section">
            <div class="header">
                <span class="title">
                    Section title
                </span>

                <span class="info">
                    section info
                </span>
            </div>

            <div>
                Item
            </div>
        </div>

        <div class="divider">
            <span></span>
        </div>

        <div class="section">
            <div class="header">
                <span class="title">Section title</span>
            </div>

            <div>
                <img src="av2.png" class="avatar round">
                Item 1
            </div>

            <div>
                <div class="status ok">
                    <img src="av3.png" class="avatar round">
                </div>
                Item 2
            </div>

            <div>
                <div class="status unknown">
                    <img src="av4.png" class="avatar round">
                </div>
                <p>
                    Item 3
                    <span class="subline unknown">
                        Needs to checkin with HQ
                    </span>
                </p>
            </div>

            <div>
                <div class="status ok">
                    <img src="av1.png" class="avatar round">
                </div>

                <p>
                    Item 4
                </p>

                <div class="actions">
                    <div class="pill">
                        6h 32m
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
