<section class="photo-background" style="background-image: url('LUNA2016-project-image.jpg');">
    <h1>sparks.network</h1>

    <div>
        <div class="login box">
            <h1>Login</h1>

            <div class="content">
                <div class="federated-buttons">
                    <button class="google">Continue with Google</button>
                    <button class="facebook">Continue with Facebook</button>
                </div>
            </div>

                <div class="divider"><span>Or</span></div>

            <div class="content">
                <form>
                    <fieldset>
                        <label for="email">Email address</label>
                        <input name="email" type="email">
                    </fieldset>

                    <fieldset>
                        <label for="password">
                            Password
                            <span class="help">
                            <a href="#" class="forgot-password">I forgot my password</a>
                        </span>
                        </label>
                        <input name="password" type="password">
                    </fieldset>

                    <fieldset class="actions">
                        <button class="cancel">Cancel</button>
                        <button class="submit">Login</button>
                    </fieldset>
                </form>
            </div>

            <div class="footer">
                <p>
                    Wanna join in on all the fun?
                    <a href="#" class="strong">Join here</a>
                </p>
            </div>
        </div>
    </div>
</section>
