/* line 5, /Users/jeremy/src/sparks/styleguide/src/sass/_boxes.scss */
.primary-box {
  color: #fff;
  background-color: #f76303;
  border-color: #f76303; }

/* line 5, /Users/jeremy/src/sparks/styleguide/src/sass/_boxes.scss */
.secondary-box {
  color: #9b9b9b;
  background-color: #fff;
  border-color: #9b9b9b; }

/* line 5, /Users/jeremy/src/sparks/styleguide/src/sass/_boxes.scss */
.google-box {
  color: #fff;
  background-color: #d10000;
  border-color: #d10000; }

/* line 5, /Users/jeremy/src/sparks/styleguide/src/sass/_boxes.scss */
.facebook-box {
  color: #fff;
  background-color: #4a4e9e;
  border-color: #4a4e9e; }

/* line 5, /Users/jeremy/src/sparks/styleguide/src/sass/_boxes.scss */
.box-footer-box, .box .footer {
  color: #4a4a4a;
  background-color: #e7f1fc;
  border-color: #e7f1fc; }

/* line 5, /Users/jeremy/src/sparks/styleguide/src/sass/_boxes.scss */
.input-box, input {
  color: #4a4a4a;
  background-color: #fff;
  border-color: #ccc; }

/* line 12, /Users/jeremy/src/sparks/styleguide/src/sass/_boxes.scss */
.box {
  padding: 20px 20px 0 20px; }
  /* line 15, /Users/jeremy/src/sparks/styleguide/src/sass/_boxes.scss */
  .box .footer {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    padding: 10px; }

/* line 5, /Users/jeremy/src/sparks/styleguide/src/sass/_boxes.scss */
.primary-box {
  color: #fff;
  background-color: #f76303;
  border-color: #f76303; }

/* line 5, /Users/jeremy/src/sparks/styleguide/src/sass/_boxes.scss */
.secondary-box {
  color: #9b9b9b;
  background-color: #fff;
  border-color: #9b9b9b; }

/* line 5, /Users/jeremy/src/sparks/styleguide/src/sass/_boxes.scss */
.google-box {
  color: #fff;
  background-color: #d10000;
  border-color: #d10000; }

/* line 5, /Users/jeremy/src/sparks/styleguide/src/sass/_boxes.scss */
.facebook-box {
  color: #fff;
  background-color: #4a4e9e;
  border-color: #4a4e9e; }

/* line 5, /Users/jeremy/src/sparks/styleguide/src/sass/_boxes.scss */
.box-footer-box, .box .footer {
  color: #4a4a4a;
  background-color: #e7f1fc;
  border-color: #e7f1fc; }

/* line 5, /Users/jeremy/src/sparks/styleguide/src/sass/_boxes.scss */
.input-box, input {
  color: #4a4a4a;
  background-color: #fff;
  border-color: #ccc; }

/* line 12, /Users/jeremy/src/sparks/styleguide/src/sass/_boxes.scss */
.box {
  padding: 20px 20px 0 20px; }
  /* line 15, /Users/jeremy/src/sparks/styleguide/src/sass/_boxes.scss */
  .box .footer {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    padding: 10px; }

/* line 8, /Users/jeremy/src/sparks/styleguide/src/sass/_buttons.scss */
button.primary, button.submit {
  color: #fff;
  background-color: #f76303;
  border-color: #f76303; }

/* line 8, /Users/jeremy/src/sparks/styleguide/src/sass/_buttons.scss */
button.secondary {
  color: #9b9b9b;
  background-color: #fff;
  border-color: #9b9b9b; }

/* line 8, /Users/jeremy/src/sparks/styleguide/src/sass/_buttons.scss */
button.google {
  color: #fff;
  background-color: #d10000;
  border-color: #d10000; }

/* line 8, /Users/jeremy/src/sparks/styleguide/src/sass/_buttons.scss */
button.facebook {
  color: #fff;
  background-color: #4a4e9e;
  border-color: #4a4e9e; }

/* line 8, /Users/jeremy/src/sparks/styleguide/src/sass/_buttons.scss */
button.box-footer {
  color: #4a4a4a;
  background-color: #e7f1fc;
  border-color: #e7f1fc; }

/* line 8, /Users/jeremy/src/sparks/styleguide/src/sass/_buttons.scss */
button.input {
  color: #4a4a4a;
  background-color: #fff;
  border-color: #ccc; }

/* line 15, /Users/jeremy/src/sparks/styleguide/src/sass/_buttons.scss */
button {
  background: transparent;
  border-radius: 4px;
  border: 1px solid #9b9b9b;
  padding: 10px;
  font-size: 1em; }

/* line 5, /Users/jeremy/src/sparks/styleguide/src/sass/_boxes.scss */
.primary-box {
  color: #fff;
  background-color: #f76303;
  border-color: #f76303; }

/* line 5, /Users/jeremy/src/sparks/styleguide/src/sass/_boxes.scss */
.secondary-box {
  color: #9b9b9b;
  background-color: #fff;
  border-color: #9b9b9b; }

/* line 5, /Users/jeremy/src/sparks/styleguide/src/sass/_boxes.scss */
.google-box {
  color: #fff;
  background-color: #d10000;
  border-color: #d10000; }

/* line 5, /Users/jeremy/src/sparks/styleguide/src/sass/_boxes.scss */
.facebook-box {
  color: #fff;
  background-color: #4a4e9e;
  border-color: #4a4e9e; }

/* line 5, /Users/jeremy/src/sparks/styleguide/src/sass/_boxes.scss */
.box-footer-box, .box .footer {
  color: #4a4a4a;
  background-color: #e7f1fc;
  border-color: #e7f1fc; }

/* line 5, /Users/jeremy/src/sparks/styleguide/src/sass/_boxes.scss */
.input-box, input {
  color: #4a4a4a;
  background-color: #fff;
  border-color: #ccc; }

/* line 12, /Users/jeremy/src/sparks/styleguide/src/sass/_boxes.scss */
.box {
  padding: 20px 20px 0 20px; }
  /* line 15, /Users/jeremy/src/sparks/styleguide/src/sass/_boxes.scss */
  .box .footer {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    padding: 10px; }

/* line 5, /Users/jeremy/src/sparks/styleguide/src/sass/_forms.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
  display: table; }

/* line 12, /Users/jeremy/src/sparks/styleguide/src/sass/_forms.scss */
label {
  font-weight: bold;
  display: table-row; }

/* line 18, /Users/jeremy/src/sparks/styleguide/src/sass/_forms.scss */
input {
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  padding: 10px;
  display: table-row;
  width: 100%; }

/* line 6, /Users/jeremy/src/sparks/styleguide/src/sass/styleguide.scss */
html, body {
  font-size: 14px; }

/* line 10, /Users/jeremy/src/sparks/styleguide/src/sass/styleguide.scss */
html, body, * {
  box-sizing: border-box; }

/* line 14, /Users/jeremy/src/sparks/styleguide/src/sass/styleguide.scss */
.divider {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  color: #9b9b9b;
  text-transform: uppercase; }
  /* line 7, /Users/jeremy/src/sparks/styleguide/src/sass/_divider.scss */
  .divider span {
    position: relative;
    display: inline-block; }
    /* line 11, /Users/jeremy/src/sparks/styleguide/src/sass/_divider.scss */
    .divider span:before, .divider span:after {
      content: "";
      position: absolute;
      top: 50%;
      width: 9999px;
      height: 1px;
      background: #e5e5e5; }
    /* line 20, /Users/jeremy/src/sparks/styleguide/src/sass/_divider.scss */
    .divider span:before {
      right: 100%;
      margin-right: 10px; }
    /* line 25, /Users/jeremy/src/sparks/styleguide/src/sass/_divider.scss */
    .divider span:after {
      left: 100%;
      margin-left: 10px; }


/*# sourceMappingURL=app.css.map*/